<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/allUsers.css">
    <link rel="stylesheet" href="/stylesheets/navBar.css">
    <title>Verify Policies</title>
</head>
<%- include("../includes/navBar")%>

    <body>
        <div class="mainContainer">
            <h3 class="heading">All Policies to Verify</h3>
            <div class="container">
                <% if (policies.length !==0) { %>
                    <ul class="list">
                        <% for (const key in policies) { %>
                            <%policies[key].forEach(function(policy){%>
                                <li class="item">
                                    <div class="details">
                                        <div>
                                            <b>policy Type:<%= key%></b>
                                            <%= policy.policy_type %>
                                        </div>

                                        <div>
                                            <b>phone number:</b>
                                            <%= policy.phoneNumber %>
                                        </div>
                                        <!-- Add more user fields as needed -->

                                    </div>
                                </li>
                                <form action="/singlePolicy" method="GET">
                                    <input type="hidden" name="policy" value='<%= JSON.stringify(policy)%>' id="policy">
                                    <input type="hidden" name="userRef" value="<%= key%>" id="userRef">
                                    <button type="submit" class="show">Show</button>
                                </form>
                                <%})%>
                                    <% }%>

                    </ul>
                    <%}%>
            </div>
        </div>
    </body>

</html>